{% extends 'base.html' %} 

{% block titulo %} 
    Inicio 
{% endblock %} 

{% block contenido %}
<center>
  <h1>En la pagina de inicio desde una template</h1>
  <br />
  <h1>Productos</h1>
  <br />
</center>

<a href="{{url_for('formCrearProducto')}}"
  >&nbsp&nbsp&nbsp<button>CREAR PRODUCTO</button></a
><br /><br /><br />

<div class="col-8">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th class="col-1" scope="col">ID</th>
        <th class="col-4" scope="col">NOMBRE</th>
        <th class="col-2" scope="col">PRECIO</th>
        <th class="col-1" scope="col" colspan="2">
          <center>HERRAMIENTAS</center>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td>{{ producto["id"]}}</td>
        <td>{{ producto["nombre"]}}</td>
        <td>{{ producto["price"]}}</td>
        <td>
          <center>
            <a href="/editarProducto/{{producto['id']}}"
              ><button>Editar</button></a
            >
          </center>
        </td>
        <td>
          <center>
            <a href="/eliminar/{{producto['id']}}"><button>Eliminar</button></a>
          </center>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
